* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #264653;
  color: white;
  height: 120px;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  gap: 12px;
}

header a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}
